* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

/*h-style*/
header {
    background-color: #ff6900;

}

/*container e flex*/
.container {
    margin: 0 auto;
    max-width: 1200px;
    min-width: 200px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.h-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/*link*/
.list_link_header,
.li_style {
    display: flex;
    text-decoration: none;


}



.link a {

    color: white;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s;
    padding-left: 5px;
    padding-right: 5px;

}

.link a:hover {
    color: gainsboro;
}



/*logo*/
.img-booleando {
    max-width: 100%;
    width: 200px;
}

/*icons*/
.icons {
    color: white;
}

.icons i {
    cursor: pointer;
    transition: color 0.3s;
    padding: 5px;
}

.icons i:hover {
    color: gainsboro;
}

/*card*/