* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bol-success: #008000;
    --bol-danger: #ff0000;
    --bol-orange: #ff6900;
    --bol-dark: #1a1a1a;
    --bol-white: white;


}

img {
    max-width: 100%;
    display: block;
}

/*h-style*/
header {
    background-color: #ff6900;

}

/*container e flex*/
.container {
    margin: 0 auto;
    max-width: 1200px;
    min-width: 200px;
    padding-top: 20px;
    padding-bottom: 20px;

}



.h-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/*link*/
.list_link_header,
.li_style {
    display: flex;
    text-decoration: none;
}



.link a {

    color: white;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s;
    padding-left: 5px;
    padding-right: 5px;

}

.link a:hover {
    color: gainsboro;
}



/*logo*/
.img-booleando {
    max-width: 100%;
    width: 200px;
}

/*icons*/
.icons {
    color: white;
}

.icons i {
    cursor: pointer;
    transition: color 0.3s;
    padding: 5px;
}

.icons i:hover {
    color: gainsboro;
}

/*img overlay*/
.contenitore {
    max-width: 1200px;
    margin: 2rem auto;
    width: 1200px;
}

/*flex per la gliglia*/

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.column {
    width: calc(100% / 3 -1);
}

.top {
    position: relative;

    .back {
        display: none;
    }

    &:hover .back {
        display: block;
    }

    &:hover .front {
        display: none;
    }
}

/*heart position absolute per farlo entrare nel suo elemento genitore top*/

.heart {
    position: absolute;
    right: 8px;
    top: 0;
    padding: 10px;
    background-color: white;

}

.sconti {
    position: absolute;
    bottom: 40px;
    left: 0;
    color: white;

    .sale,
    .sustainability {
        padding: 10px 20px;
        text-transform: capitalize;

        &.sale {
            background-color: var(--bol-danger)
        }

        &.sustainability {
            background-color: var(--bol-success);
        }

    }
}

.bottom {
    .name {
        text-transform: uppercase;
    }

    .price .discountprice {
        color: #ff0000;
        font-weight: bold;
    }


    .price .originalprice {
        text-decoration: line-through;
    }
}