* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*h-style*/
#h-style {
    background-color: #ff6900;

}

/*container e flex*/
.container {
    margin: 0 auto;
    max-width: 1500px;
    min-width: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-grow: 1;
}

.h-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/*link*/

.link a {

    color: white;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s;
    padding-left: 5px;
    padding-right: 5px;

}

.link a:hover {
    color: gainsboro;
}



/*logo*/
.img-booleando {
    width: 15%;
    margin-left: 400px;
}

/*icons*/
.icons {
    color: white;
}

.icons i {
    cursor: pointer;
    transition: color 0.3s;
}

.icons i:hover {
    color: gainsboro;
}

/*card*/

.card-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

}

img {
    width: 400px;
}

.card {
    position: relative;

}

.heart i {
    position: absolute;
    background-color: white;
    top: 3px;
    right: 2px;
    font-size: 40px;


}